{
    "device_id": "wohnzimmer",
    "mqtt_broker": "192.168.1.10",
    "mqtt_port": 1883,
    "wifi_ssid": "",
    "wifi_password": "",
    "send_time_seconds": 30,
    "display_update_time_seconds": 1,
    "display_refresh_time_seconds": 600,
    "debug_output": true
}
