{
    "device_id": "",
    "debug_output": true,
    "wifi": {
        "ssid": "",
        "password": ""
    },
    "mqtt": {
        "broker_ip": "192.168.1.10",
        "broker_port": 1883,
        "send_time_seconds": 15
    },
    "display": {
        "update_time_seconds": 1,
        "refresh_time_seconds": 600
    }
}
